<%- include('header') -%>

<h1><%= title %></h1>

<%- include('events') -%>

<div class="link">
  <a class="link" href="/admin">Innskráning</a>
  <a class="link__link" href="/register">Nýskráning</a>
</div>


<%- include('footer') -%>
