<%- include('header') -%>

<h1>Viðburða umsjón</h1>

<%- include('events') -%>


<div class="user">
  <p class="user__loggedin">Innskráður sem: <strong><%= username %></strong></p>
  <p class="user__logout"><a href="/user/logout">Útskrá</a></p>
</div>

<%- include('footer') -%>
